Problem name (this line is a comment)

  PROBLEM_NAME    backstep

  BACKUP_SAVE_INTERVAL   600
  RESULTS_SAVE_INTERVAL  600

  This line is a comment too, just like any which doesn't start with a keyword.
  Keywords are written all in upper case and ARE case sensitive!
  It is a good idea to write comments in lower case only, to make sure program
  doesn't take them as keywords by mistake :D

Time resolution

  TIME_STEP                            0.01
  NUMBER_OF_TIME_STEPS              1800

Monitoring

  NUMBER_OF_MONITORING_POINTS          1
    MONITORING_POINT_001               0.314  0.1  -0.038
  POINT_FOR_MONITORING_PLANES          0.1  0.1  0.1
  PRESSURE_DROPS                       0.0  0.0  0.0
  VOLUME_FLOW_RATES                    0.0  0.0  0.0

Physical part

  MASS_DENSITY           1.0
  DYNAMIC_VISCOSITY      1.43e-5

  TURBULENCE_MODEL            rsm_manceau_hanjalic
  TURBULENCE_MODEL_VARIANT    stabilized

Numerical part

  PRESSURE_MOMENTUM_COUPLING              simple
  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM     0.4
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE     0.4
  SIMPLE_UNDERRELAXATION_FOR_TURBULENCE   0.3
  TIME_INTEGRATION_SCHEME                 linear

  ADVECTION_SCHEME_FOR_MOMENTUM       smart
  ADVECTION_SCHEME_FOR_TURBULENCE     smart
  PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER       1.e-4
  TOLERANCE_FOR_PRESSURE_SOLVER       1.e-4
  TOLERANCE_FOR_TURBULENCE_SOLVER     1.e-4
  TOLERANCE_FOR_SIMPLE_ALGORITHM      5.e-3

Initial values

  Keep in mind it is enough to specify only those which are different from zero.


  INITIAL_CONDITION
    VARIABLES     u     uu      vv      ww      uv       eps     f22
    VALUES        1.6   0.005   0.005   0.005   0.0001   0.001   0.01


Boundary conditions

  Like for initiali conditions, specify only those which are different from zero
  If all are zero, feel free to ommit both variables and values

  BOUNDARY_CONDITION    outlet_face
    TYPE                pressure
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    lower_wall
    TYPE                wall
    VARIABLES           u     v       w
    VALUES              0.0   0.0     0.0

  BOUNDARY_CONDITION    upper_wall
    TYPE                symmetry
    VARIABLES           u     uu      vv      ww      uv       eps     f22
    VALUES              1.6   0.005   0.005   0.005   0.0001   0.001   0.01

  For inlet, b.c. are specified in a file.  The list of variables given 
  below must correspond to columns given in input file.

  BOUNDARY_CONDITION    inlet_face
    TYPE                inflow
    VARIABLES           z     u     v     w     uu    vv    ww    uv    uw    vw    eps   f22
    FILE                inflow_bc_rsm.dat

