 PROBLEM_NAME    pipe
 PROBLEM_TYPE    pipe
 NUMBER_OF_TIME_STEPS    30000
 STARTING_TIME_STEP_FOR_STATISTICS    9001
 NUMBER_OF_MONITORING_POINTS               1
 MONITORING_POINT_001  0.5  0.5  1.0
 POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5
 TURBULENCE_MODEL    les
 TURBULENCE_MODEL_VARIANT    dynamic
 PERTURB_MOMENTUM    yes
 MOMENTUM_PERTURBATION_UNTIL    3000
 MOMENTUM_PERTURBATION_INTERVAL    10
 PRESSURE_MOMENTUM_COUPLING    simple
 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.9
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.9
 TIME_INTEGRATION_FOR_INERTIA    parabolic
 TIME_INTEGRATION_FOR_ADVECTION    fully_implicit
 TIME_INTEGRATION_FOR_DIFFUSION    fully_implicit
 TIME_INTEGRATION_FOR_CROSS_DIFFUSION    fully_implicit
 ADVECTION_SCHEME_FOR_MOMENTUM    central
 PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER    1.e-6
 TOLERANCE_FOR_PRESSURE_SOLVER    1.e-7
 TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-6
 TIME_STEP    0.02
 PRESSURE_DROPS    0.0  0.0  -0.0072
 MASS_FLOW_RATES    0.0  0.0  -2.8
