# PROBLEM_NAME  cube
# PROBLEM_NAME  cylinder
# PROBLEM_NAME  cylinder_hexas
# PROBLEM_NAME  cylinder_prisms
  PROBLEM_NAME  cylinder_tetras
# PROBLEM_NAME  cylinder_tetras_dual

# This is just to give it temperature
# as dependendent variable to work on
  HEAT_TRANSFER         yes

# Do not compute anything except what
# is in User_Mod_Initialize_Variables
  NUMBER_OF_TIME_STEPS  0

# Boundary conditions are mandatory
  BOUNDARY_CONDITION    top
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   20.0

  BOUNDARY_CONDITION    bottom
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   10.0

  BOUNDARY_CONDITION    side
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   15.0


