 PROBLEM_NAME     backstep_orthogonal
 HEAT_TRANSFER    no

NUMBER_OF_TIME_STEPS 3
 RESULTS_SAVE_INTERVAL    50
 BACKUP_SAVE_INTERVAL    100
 TIME_STEP               1.0

# LOAD_BACKUP_NAME   backstep_orthogonal-ts000001.backup

#-------------------
# Monitoring points 
#-------------------
 NUMBER_OF_MONITORING_POINTS    1
   MONITORING_POINT_001         0.5  0.5  0.2

 POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5

#-----------------
# Physical models
#-----------------

 MASS_DENSITY           1.0
 THERMAL_CONDUCTIVITY   1.4080e-4
 DYNAMIC_VISCOSITY      1.0e-4
 HEAT_CAPACITY          1.0

 TURBULENCE_MODEL       none

#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.4
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4

 TIME_INTEGRATION_SCHEME  linear

 ADVECTION_SCHEME_FOR_MOMENTUM    minmod
 ADVECTION_SCHEME_FOR_ENERGY      superbee
 ADVECTION_SCHEME_FOR_TURBULENCE  smart

#------------------------
# Linear solver settings
#------------------------
 PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
 TOLERANCE_FOR_PRESSURE_SOLVER      1.e-3
 TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-4

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w
    VALUES              1.0   0.0   0.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    low_wall
    TYPE                wall_flux
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    top_wall
    TYPE                wall
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    in
    TYPE                inflow
    VARIABLES           x  y  u    v    w
    FILE                profile.dat

  BOUNDARY_CONDITION    out
    TYPE                outflow
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0
