#----------
# Prologue
#----------
  PROBLEM_NAME    chan

  HEAT_TRANSFER   yes

  TIME_STEP                                     0.02
  NUMBER_OF_TIME_STEPS                      36000
  STARTING_TIME_STEP_FOR_TURB_STATISTICS    24000

  RESULTS_SAVE_INTERVAL       60
  BACKUP_SAVE_INTERVAL      1800

#-------------------
# Monitoring points
#-------------------
  NUMBER_OF_MONITORING_POINTS    1
  MONITORING_POINT_001           0.5  0.5  1.0
  POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5

#-----------------
# Physical models
#-----------------
  MASS_DENSITY           1.0
  THERMAL_CONDUCTIVITY   4.70e-4
  DYNAMIC_VISCOSITY      3.33333e-4
  HEAT_CAPACITY          1.0

  TURBULENCE_MODEL    les_dynamic

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.7
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.3
  SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.6

  TIME_INTEGRATION_SCHEME  parabolic

  ADVECTION_SCHEME_FOR_MOMENTUM      central
# BLENDING_COEFFICIENT_FOR_MOMENTUM  0.0
  ADVECTION_SCHEME_FOR_ENERGY        smart

  PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky

  TOLERANCE_FOR_MOMENTUM_SOLVER     1.e-4
  TOLERANCE_FOR_PRESSURE_SOLVER     1.e-5
  TOLERANCE_FOR_ENERGY_SOLVER       1.e-4
  TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-3

  MAX_ITERATIONS_FOR_PRESSURE_SOLVER   240

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     t
    VALUES              1.16  0.0   0.0   20.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    wall
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0.1

  BOUNDARY_CONDITION    inflow
    TYPE                inflow
    VARIABLES           u     v     w     t
    VALUES              1.16  0.0   0.0   20.0

  BOUNDARY_CONDITION    outflow
    TYPE                outflow
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   20.0

  SYNTHETIC_EDDIES      inflow
    NUMBER_OF_EDDIES    80
    MAX_EDDY_RADIUS     0.33
    EDDY_INTENSITY      0.1

