#----------
# Prologue
#----------
 PROBLEM_NAME      stefan
 HEAT_TRANSFER     yes
 MULTIPHASE_MODEL  volume_of_fluid

 TIME_STEP                5.0e-3

 NUMBER_OF_TIME_STEPS     1800
# NUMBER_OF_TIME_STEPS        1
 MAX_SIMPLE_ITERATIONS       3
 MIN_SIMPLE_ITERATIONS      12

 RESULTS_SAVE_INTERVAL       1
 SAVE_INITIAL_CONDITION     no
 BACKUP_SAVE_INTERVAL     1200

#-------------------
# Monitoring points
#-------------------
 NUMBER_OF_MONITORING_POINTS    0
   MONITORING_POINT_001         0.6  0.05  0.05

 POINT_FOR_MONITORING_PLANES    0.6  0.05  0.05

#-----------------
# Physical models
#-----------------

 MASS_DENSITY           1.0
 THERMAL_CONDUCTIVITY   1.4080e-4
 DYNAMIC_VISCOSITY      1.0
 HEAT_CAPACITY          1.0

# Phase 1 is liquid
 PHASE_DENSITIES        958.4         0.597
 PHASE_VISCOSITIES        1.0e-3      1.0e-3
 PHASE_CONDUCTIVITIES     0.679       0.025
 PHASE_CAPACITIES      4216.0      2030.0
 SURFACE_TENSION        0.0
 MASS_TRANSFER          yes
 TRACK_FRONT            yes
 SATURATION_TEMPERATURE   100.0

 TURBULENCE_MODEL       none
 GRAVITATIONAL_VECTOR   0.0   0.0   0.0

 REFERENCE_DENSITY      1.0

#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.7
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.3
 SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.8

 TIME_INTEGRATION_SCHEME  linear

 ADVECTION_SCHEME_FOR_MOMENTUM    minmod
 ADVECTION_SCHEME_FOR_MULTIPHASE  cicsam

#------------------------
# Linear solver settings
#------------------------
 PRECONDITIONER_FOR_SYSTEM_MATRIX      incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER         1.e-06
 TOLERANCE_FOR_ENERGY_SOLVER           1.e-07
 TOLERANCE_FOR_PRESSURE_SOLVER         1.e-12
 TOLERANCE_FOR_SIMPLE_ALGORITHM        1.e-03
 TOLERANCE_FOR_MULTIPHASE_SOLVER       1.e-06
 MAX_ITERATIONS_FOR_PRESSURE_SOLVER  256
 MAX_ITERATIONS_FOR_ENERGY_SOLVER    256
 MAX_SMOOTHING_CYCLES_CURVATURE_VOF    8
 MAX_SMOOTHING_CYCLES_NORMAL_VOF       0
 TEMPORAL_PRESSURE_CORRECTION          yes
 COMPRESION_VOF                        no
 COMPRESION_FACTOR_VOF                 1.0
 #DUAL_TIME_STEP_VOF                 yes

#--------------------
# Initial conditions  velocity was 0.05 for nice transport of vof
#--------------------
  INITIAL_CONDITION
    VARIABLES           u      v     w     vof
    VALUES              0.00  0.0   0.0   3.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    wall
    TYPE                inflow
    VARIABLES           u      v     w     vof     vof_c_ang   t
    VALUES              0.00  0.0   0.0   0.0     90.0         110.0

  BOUNDARY_CONDITION    outlet
    TYPE                outflow
    VARIABLES           u      v     w     vof     vof_c_ang   q
    VALUES              0.00  0.0   0.0   0.0     90.0         0.0

  BOUNDARY_CONDITION    symmetry
    TYPE                symmetry
    VARIABLES           u      v     w     vof     vof_c_ang   q
    VALUES              0.00  0.0   0.0   0.0     90.0         0.0

