*.o
**/Makefile.in
*.cas
*.cns
*.geo
*.buf
*.map
*.real
*.mod
*.cgns
*.vtu
*.com
*.pvtu
*.restart
*.neu
*.shadow
*-monit.*
*.7z
*.backup
*.1d
convert_ascii_2_binary.scr
convert_binary_2_ascii.scr
Binaries/
stop
