*.o
**/Makefile.in
*.cas
*.cfn
*.geo
*.buf
*.map
*.real
*.mod
*.cgns
*.vtu
*.com
*.pvtu
*.restart
*.msh
*.neu
*.shadow
*-monit.*
*.7z
*.backup
*.1d
Binaries/*
Tests/**/Generate
Tests/**/Convert
Tests/**/Divide
Tests/**/Process
Tests/**/*-res.dat
Tests/**/*-res-plus.dat
Tests/**/*.log
Tests/**/*.eps
Tests/**/*.dvi
Tests/**/*.aux
Tests/**/*.ps
Tests/**/stop
Tests/**/*pdf
Tests/**/*png
Tests/**/*tex
Tests/**/*tmp
__pycache__
