*.o
**/Makefile.in
*.cas
*.cfn
*.dim
*.buf
*.map
*.real
*.mod
*.cgns
*.vtu
*.vtk
*.com
*.pvtu
*.restart
*.msh
*.neu
*.shadow
*-monit.*
*.7z
*.backup
*.1d
*genmod.f90
Binaries/Generate
Binaries/Convert
Binaries/Divide
Binaries/Cpu/Process
Binaries/Gpu/Process_Cpu
Binaries/Gpu/Process_Gpu
Tests/**/Generate
Tests/**/Convert
Tests/**/Divide
Tests/**/Process
Tests/**/*-res.dat
Tests/**/*-res-plus.dat
Tests/**/*.log
Tests/**/*.eps
Tests/**/*.dvi
Tests/**/*.aux
Tests/**/*.ps
Tests/**/stop
Tests/**/*pdf
Tests/**/*tex
Tests/**/*tmp
Tests/**/control_template_*
__pycache__
