#-----------------------------------------------------------
# Header
#-----------------------------------------------------------
  PROBLEM_NAME           convective

  HEAT_TRANSFER          yes
  BUOYANCY               thermal
  REFERENCE_TEMPERATURE  0.5

  RESULTS_SAVE_INTERVAL     6
  BACKUP_SAVE_INTERVAL   2400
  NUMBER_OF_TIME_STEPS   2400

  SAVE_RESULTS_AT_BOUNDARIES   no

#-----------------------------------------------------------
# Monitoring points and plane
#-----------------------------------------------------------
  POINT_FOR_MONITORING_PLANES    5.0  0.5  0.5

#-----------------------------------------------------------
# Physical properties based on Re, Pr and Gr numbers:
#-----------------------------------------------------------
# Re = 10
# Pr = 2/3
# Gr = 1.5e+4
# mu     = 1 / Re        =   0.1
# lambda = 1 / (Pr * Re) =   0.15
# g      = Gr / Re^2     = 150
#-----------------------------------------------------------
  MASS_DENSITY           1.0
  HEAT_CAPACITY          1.0
  DYNAMIC_VISCOSITY      0.1
  THERMAL_CONDUCTIVITY   0.15
  GRAVITATIONAL_VECTOR   0.0  0.0 -150

#-----------------------------------------------------------
# Numerical parameters
#-----------------------------------------------------------
  PRESSURE_MOMENTUM_COUPLING               piso

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    1.0
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    1.0
  SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.999

  GRADIENT_METHOD_FOR_PRESSURE          gauss_theorem
  MAX_GAUSS_GRADIENTS_ITERATIONS      200
  TOLERANCE_FOR_GAUSS_GRADIENTS         1.0e-5

#-----------------------------------------------------------
# Linear solver settings
#-----------------------------------------------------------
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
  TOLERANCE_FOR_ENERGY_SOLVER        1.e-3
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-6
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

  MAX_ITERATIONS_FOR_PRESSURE_SOLVER   240

#-----------------------------------------------------------
# Boundary conditions
#-----------------------------------------------------------
  BOUNDARY_CONDITION inlet
    TYPE             inflow
    VARIABLES        z     u     t
    FILE             inlet.dat

  BOUNDARY_CONDITION outlet
    TYPE             convective  (outflow / pressure / convective)
    VARIABLES        u     v     w     t
    VALUES           0.0   0.0   0.0   0.5

  BOUNDARY_CONDITION bottom_wall
    TYPE             wall
    VARIABLES        u     v     w     t
    VALUES           0.0   0.0   0.0   1.0

  BOUNDARY_CONDITION top_wall
    TYPE             wall
    VARIABLES        u     v     w     t
    VALUES           0.0   0.0   0.0   0.0

