# Problem
PROBLEM_NAME        lid_driven_dual

# Time stepping
TIME_STEP  0.1

# Boundary conditions
BOUNDARY_CONDITION upper_wall
  TYPE             wall  (or: inflow / outflow / pressure / convective)
  VARIABLES        u     v     w     t    kin    eps    zeta     f22
  VALUES           1.0   0.0   0.0   10   1e-2   1e-3   6.6e-2   1e-3

BOUNDARY_CONDITION side_walls
  TYPE             wall  (or: inflow / outflow / pressure / convective)
  VARIABLES        u     v     w     t    kin    eps    zeta     f22
  VALUES           0.0   0.0   0.0   10   1e-2   1e-3   6.6e-2   1e-3

BOUNDARY_CONDITION lower_wall
  TYPE             wall  (or: inflow / outflow / pressure / convective)
  VARIABLES        u     v     w     t    kin    eps    zeta     f22
  VALUES           0.0   0.0   0.0   10   1e-2   1e-3   6.6e-2   1e-3

