#----------------------------------------------------------
# Specify number of domains you are simultaneously solving
#----------------------------------------------------------
  NUMBER_OF_DOMAINS         2

#---------------
# Time stepping
#---------------
  TIME_STEP                             0.01
  NUMBER_OF_TIME_STEPS               6000

#----------------------
# Numerical parameters
#----------------------
  TOLERANCE_FOR_SIMPLE_ALGORITHM        1.e-3
  MIN_SIMPLE_ITERATIONS                 2

#----------------------
# Interface conditions
#----------------------
  INTERFACE_CONDITION      precursor    cylinder
    BOUNDARY_CONDITIONS    periodic_x   in

