#--------------------
# Problem definition
#--------------------

 PROBLEM_NAME          utopian.city

 HEAT_TRANSFER         no

#---------------
# Time stepping
#---------------

 TIME_STEP                   0.01
 NUMBER_OF_TIME_STEPS     3600
 RESULTS_SAVE_INTERVAL     120
 BACKUP_SAVE_INTERVAL      360

#-------------------
# Monitoring points 
#-------------------
 NUMBER_OF_MONITORING_POINTS  1
   MONITORING_POINT_001       0.217929706307  4.67580374665 0.002

 POINT_FOR_MONITORING_PLANES    0.5  0.5  0.8

#-----------------
# Physical models
#-----------------

 MASS_DENSITY           1.0
 DYNAMIC_VISCOSITY      1.8e-8

#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.4
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4
 SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.4
 SIMPLE_UNDERRELAXATION_FOR_TURBULENCE  0.4

 TIME_INTEGRATION_FOR_INERTIA            parabolic
 TIME_INTEGRATION_FOR_ADVECTION          fully_implicit
 TIME_INTEGRATION_FOR_DIFFUSION          fully_implicit
 TIME_INTEGRATION_FOR_CROSS_DIFFUSION    fully_implicit

 ADVECTION_SCHEME_FOR_MOMENTUM    smart
 ADVECTION_SCHEME_FOR_ENERGY      smart
 ADVECTION_SCHEME_FOR_TURBULENCE  smart

 MIN_SIMPLE_ITERATIONS                           3

#------------------------
# Linear solver settings
#------------------------

 PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER      5.e-4
 TOLERANCE_FOR_PRESSURE_SOLVER      5.e-4
 TOLERANCE_FOR_TURBULENCE_SOLVER    5.e-4
 TOLERANCE_FOR_ENERGY_SOLVER        5.e-4
 TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

 MAX_ITERATIONS_FOR_PRESSURE_SOLVER   120
#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u       v     w     t
    VALUES              1.0     0.0   0.0   0.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    ground
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   2.0

   BOUNDARY_CONDITION    building_walls
     TYPE                wall
     VARIABLES           u     v     w     t
     VALUES              0.0   0.0   0.0   4.0

  BOUNDARY_CONDITION    top
    TYPE                pressure
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   0.0

  BOUNDARY_CONDITION    north
    TYPE                pressure
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   0.0

  BOUNDARY_CONDITION    south
    TYPE                pressure
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   0.0

  BOUNDARY_CONDITION    east
    TYPE                inflow
    VARIABLES           u     v     w     t
    VALUES              1.0   0.0   0.0   0.0

  BOUNDARY_CONDITION    west
    TYPE                pressure
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   00.0
