  NUMBER_OF_DOMAINS         2

# Integrate in time for five seconds
  TIME_STEP                          0.005
  NUMBER_OF_TIME_STEPS            1000

  RESULTS_SAVE_INTERVAL                           100
  BACKUP_SAVE_INTERVAL                            500
  SWARM_SAVE_INTERVAL                             100
  STARTING_TIME_STEP_FOR_SWARM_COMPUTATION       1001

  SAVE_RESULTS_AT_BOUNDARIES        no

  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

  INTERFACE_CONDITION      pipe         bend
    BOUNDARY_CONDITIONS    periodic_y   bend_inlet

