#-----------
# Prologue
#-----------
  PROBLEM_NAME    rb_conv

  HEAT_TRANSFER   yes

  TIME_STEP                                    0.05
  NUMBER_OF_TIME_STEPS                      3600
  STARTING_TIME_STEP_FOR_TURB_STATISTICS      60

  RESULTS_SAVE_INTERVAL      60
  BACKUP_SAVE_INTERVAL     3600

#-------------------
# Monitoring points 
#-------------------
  NUMBER_OF_MONITORING_POINTS    15
    MONITORING_POINT_001           0.5  0.5  1.0
    MONITORING_POINT_002           0.5  0.5  0.9
    MONITORING_POINT_003           0.5  0.5  0.8
    MONITORING_POINT_004           0.5  0.5  0.7
    MONITORING_POINT_005           0.5  0.5  0.6
    MONITORING_POINT_006           0.5  0.5  0.5
    MONITORING_POINT_007           0.1  0.1  0.5
    MONITORING_POINT_008           0.2  0.2  0.5
    MONITORING_POINT_009           0.3  0.3  0.5
    MONITORING_POINT_010           0.4  0.4  0.5
    MONITORING_POINT_011           0.5  0.5  0.5
    MONITORING_POINT_012           0.6  0.6  0.5
    MONITORING_POINT_013           0.7  0.7  0.5
    MONITORING_POINT_014           0.8  0.8  0.5
    MONITORING_POINT_015           0.9  0.9  0.5

  POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5

#-----------------
# Physical models
#-----------------
  BUOYANCY                       thermal
  GRAVITATIONAL_VECTOR           0.0,  0.0,  -0.0327
  REFERENCE_TEMPERATURE         12.5

  MASS_DENSITY           1.0
  THERMAL_CONDUCTIVITY   2.594e-5
  DYNAMIC_VISCOSITY      1.846e-5
  HEAT_CAPACITY          1.0

  TURBULENCE_MODEL    k_eps_zeta_f
#TURBULENCE_MODEL    k_eps

  TURBULENT_HEAT_FLUX_MODEL    GGDH

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.7
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.7
  SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.5
  SIMPLE_UNDERRELAXATION_FOR_TURBULENCE  0.5

  TIME_INTEGRATION_SCHEME  parabolic

  ADVECTION_SCHEME_FOR_MOMENTUM     smart
  ADVECTION_SCHEME_FOR_ENERGY       smart
  ADVECTION_SCHEME_FOR_TURBULENCE   smart

  GU_CORRECTION                    yes

  PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky

  TOLERANCE_FOR_MOMENTUM_SOLVER          1.e-4
  TOLERANCE_FOR_PRESSURE_SOLVER          1.e-5
  TOLERANCE_FOR_ENERGY_SOLVER            1.e-4
  TOLERANCE_FOR_TURBULENCE_SOLVER        1.e-4
  TOLERANCE_FOR_SIMPLE_ALGORITHM         1.e-3
  MAX_ITERATIONS_FOR_PRESSURE_SOLVER   120

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     t      t2     kin     eps     zeta    f22  
    VALUES              0.0   0.0   0.0   12.5   0.1    0.005   0.001  0.05    0.1  

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    lower_wall
    TYPE                wall
    VARIABLES           u     v     w     t     t2 
    VALUES              0.0   0.0   0.0   20.0  0.0

  BOUNDARY_CONDITION    upper_wall
    TYPE                wall
    VARIABLES           u     v     w     t     t2
    VALUES              0.0   0.0   0.0   5.0   0.0 
