#--------------------
# Problem definition
#--------------------
  PROBLEM_NAME           pipe_full

  HEAT_TRANSFER          yes

  PRESSURE_DROPS         0.0   0.0   0.0036
  VOLUME_FLOW_RATES      0.0   0.0   11.5

#---------------
# Time stepping
#---------------
  TIME_STEP                   0.05
  NUMBER_OF_TIME_STEPS     7200
  RESULTS_SAVE_INTERVAL     600
  BACKUP_SAVE_INTERVAL      600

#-------------------
# Monitoring points
#-------------------
  NUMBER_OF_MONITORING_POINTS        5
    MONITORING_POINT_001  0.0  0.99  0.5
    MONITORING_POINT_002  0.0  0.8   0.5
    MONITORING_POINT_003  0.0  0.7   0.5
    MONITORING_POINT_004  0.0  0.2   0.5
    MONITORING_POINT_005  0.0  0.0   0.5

  POINT_FOR_MONITORING_PLANES    0.05  0.05  0.514

#-----------------
# Physical models
#-----------------

  MASS_DENSITY           1.0
  THERMAL_CONDUCTIVITY   1.4e-4
  REFERENCE_TEMPERATURE  0.
  DYNAMIC_VISCOSITY      3.8296e-4
  HEAT_CAPACITY          1.0
  NUMBER_OF_SCALARS      1
  SPECIES_DIFFUSIVITY    1.4e-4

  TURBULENCE_MODEL            k_eps_zeta_f
# TURBULENCE_MODEL           rsm_hanjalic_jakirlic
# TURBULENCE_MODEL_VARIANT   none
# TURBULENCE_WALL_TREATMENT  high_re

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.4
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4
  SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.4
  SIMPLE_UNDERRELAXATION_FOR_TURBULENCE  0.4

  TIME_INTEGRATION_SCHEME  linear

  ADVECTION_SCHEME_FOR_MOMENTUM    superbee
  ADVECTION_SCHEME_FOR_ENERGY      superbee
  ADVECTION_SCHEME_FOR_TURBULENCE  superbee

  MIN_SIMPLE_ITERATIONS              3

#------------------------
# Linear solver settings
#------------------------
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1e-5
  TOLERANCE_FOR_PRESSURE_SOLVER      1e-5
  TOLERANCE_FOR_TURBULENCE_SOLVER    1e-5
  TOLERANCE_FOR_ENERGY_SOLVER        1e-5
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1e-3

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES u  v  w   t  kin eps  zeta  f22    uu   vv   ww   uv   uw   vw   c_01
    VALUES    0. 0. 0.5 1. 0.1 1e-4 0.1   6.6e-2 1e-2 1e-2 1e-2 1e-3 1e-3 1e-3 0.

#---------------------
# Boundary conditions
#---------------------
# Flux is set on the wall for temp, value is set for c_01
  BOUNDARY_CONDITION    wall
    TYPE                wall
    VARIABLES           u  v  w  q  kin eps  zeta f22
    VALUES              0. 0. 0. 1. 0.  1e-3 0.   0.
    TYPE                wall
    VARIABLES           c_01
    VALUES              1.
