#----------
# Prologue
#---------
  PROBLEM_NAME     backstep_orthogonal
  HEAT_TRANSFER    no

  TIME_STEP                       0.00375  # 0.02  0.01  0.005  0.00375  0.0025
  NUMBER_OF_TIME_STEPS           12
  RESULTS_SAVE_INTERVAL       99999
  BACKUP_SAVE_INTERVAL        99999
  SAVE_RESULTS_AT_BOUNDARIES     no

  SAVE_INITIAL_CONDITION  no

  PROFILER_INFO                  seconds

#-------------------
# Monitoring points
#-------------------
  NUMBER_OF_MONITORING_POINTS    1
    MONITORING_POINT_001         0.5  0.5  0.2

  POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5

#-----------------
# Physical models
#-----------------
  MASS_DENSITY           1.0
  DYNAMIC_VISCOSITY      1.0e-3
  HEAT_CAPACITY          1.0

  TURBULENCE_MODEL       none

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.6
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4

  TIME_INTEGRATION_SCHEME  linear

  ADVECTION_SCHEME_FOR_MOMENTUM    minmod

  GRADIENT_METHOD_FOR_PRESSURE     gauss_theorem
  MAX_GAUSS_GRADIENTS_ITERATIONS   3

  BLEND_SYSTEM_MATRICES            no

#------------------------
# Linear solver settings
#------------------------
  LINEAR_SOLVERS                     petsc
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-6
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

  MAX_ITERATIONS_FOR_PRESSURE_SOLVER   99
  MAX_ITERATIONS_FOR_POTENTIAL_SOLVER  99

  PETSC_OPTIONS
    VALUES    -log_view :backstep_orthogonal.petsc

  PETSC_OPTIONS_FOR_PRESSURE
    SOLVER        cg
    PREC          hypre      # asm or hypre
    PREC_OPTS     
    TOLERANCE     1.0e-6     # 1.0e-3 was also working

  PETSC_OPTIONS_FOR_WALL_DISTANCE
    SOLVER        cg
    PREC          hypre      # asm or hypre
    PREC_OPTS     
    TOLERANCE     1.0e-6     # 1.0e-3 was also working

  PETSC_OPTIONS_FOR_MOMENTUM
    SOLVER        bicg
    PREC          asm
    PREC_OPTS     
    TOLERANCE     1.0e-6     # 1.0e-5 was also working

#--------------------
# Initial conditions
#--------------------
  POTENTIAL_INITIALIZATION   yes

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    low_wall
    TYPE                wall
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    top_wall
    TYPE                wall
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    in
    TYPE                inflow
    VARIABLES           z   u
    FILE                profile.dat

  BOUNDARY_CONDITION    out
    TYPE                pressure   
    VARIABLES           u     v     w
    VALUES              1.0   0.0   0.0
