#--------------------
# Problem definition
#--------------------
  PROBLEM_NAME            chan

#---------------
# Time stepping
#---------------
  TIME_STEP                   1.0
  NUMBER_OF_TIME_STEPS     1800
  RESULTS_SAVE_INTERVAL    600 
  BACKUP_SAVE_INTERVAL     600

#--------------------------------------
# Monitoring plane and mass flow rates
#--------------------------------------
  POINT_FOR_MONITORING_PLANES    0.5   0.5  0.5
  VOLUME_FLOW_RATES              0.17  0.0  0.0

#----------------------------------------
# Fluid properties
# Dry air at 27oC in SI units
#----------------------------------------
  MASS_DENSITY              1.177
  DYNAMIC_VISCOSITY         1.846e-5
  THERMAL_CONDUCTIVITY      2.6240e-2
  HEAT_CAPACITY          1000.0

#----------------------------------------
# Physical models
#----------------------------------------
  TURBULENCE_MODEL       k_eps_zeta_f

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     kin      eps      zeta     f22
    VALUES              1.0   0.0   0.0   1.0e-2   1.0e-3   1.0e-1   6.6e-3

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    lower_face
    TYPE                wall_flux
    VARIABLES           u     v     w     kin   eps      zeta   f22
    VALUES              0.0   0.0   0.0   0.0   1.0e-3   0.0    0.0

  BOUNDARY_CONDITION    upper_face
    TYPE                symmetry
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

