#--------------------
# Problem definition
#--------------------
  PROBLEM_NAME            chan
  HEAT_TRANSFER           yes

  PRESSURE_DROPS         0.0036  0.0  0.0
  VOLUME_FLOW_RATES      0.17    0.0  0.0

#---------------
# Time stepping
#---------------
  TIME_STEP                  1.0
  NUMBER_OF_TIME_STEPS     1800
  RESULTS_SAVE_INTERVAL     600
  BACKUP_SAVE_INTERVAL      600

#-------------------
# Monitoring points
#-------------------
  NUMBER_OF_MONITORING_POINTS               5
    MONITORING_POINT_001  0.5  0.5  1.0
    MONITORING_POINT_002  0.5  0.5  0.001
    MONITORING_POINT_003  0.5  0.5  0.01
    MONITORING_POINT_004  0.5  0.5  0.1
    MONITORING_POINT_005  0.5  0.5  0.2

  POINT_FOR_MONITORING_PLANES    0.5  0.5  0.514

#----------------------------------------
# Fluid properties
# Dry air at 27oC in SI units
#----------------------------------------
  MASS_DENSITY                1.177
  DYNAMIC_VISCOSITY           1.846e-5
  THERMAL_CONDUCTIVITY        2.6240e-2
  HEAT_CAPACITY          1000.0

#----------------------------------------
# Physical models
#----------------------------------------
  TURBULENCE_MODEL       k_eps_zeta_f
# TURBULENCE_MODEL       k_eps
# TURBULENCE_MODEL       k_omega_sst
# TURBULENCE_MODEL       spalart_allmaras

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.4
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4
  SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.4
  SIMPLE_UNDERRELAXATION_FOR_TURBULENCE  0.4

  TIME_INTEGRATION_SCHEME  linear

  ADVECTION_SCHEME_FOR_MOMENTUM    smart
  ADVECTION_SCHEME_FOR_ENERGY      smart
  ADVECTION_SCHEME_FOR_TURBULENCE  smart

#------------------------
# Linear solver settings
#------------------------
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-6
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-6
  TOLERANCE_FOR_TURBULENCE_SOLVER    1.e-6
  TOLERANCE_FOR_ENERGY_SOLVER        1.e-6
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u    t     kin    eps    zeta   f22      omg     vis
    VALUES              1.0  20.0  1.0e-2 1.0e-3 1.0e-1 6.6e-3   0.001   0.0001

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    lower_face
    TYPE                wall_flux
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   1.0

  BOUNDARY_CONDITION    upper_face
    TYPE                symmetry
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   20.0

