#----------
# Prologue
#----------
  PROBLEM_NAME    domain
  HEAT_TRANSFER   no

  TIME_STEP                                     0.5
  NUMBER_OF_TIME_STEPS                      14400   (this is two hours)
  STARTING_TIME_STEP_FOR_TURB_STATISTICS     7200   (this is one hour)
  RESULTS_SAVE_INTERVAL                       600   (five minutes)
  BACKUP_SAVE_INTERVAL                        600

#-------------------
# Monitoring points
#-------------------
  NUMBER_OF_MONITORING_POINTS    2
  MONITORING_POINT_001           10.5  10.5  11.0
  MONITORING_POINT_002           10.5  10.5  59.0
  POINT_FOR_MONITORING_PLANES    10.5  10.5  10.5

#-----------------
# Physical models
#-----------------
  MASS_DENSITY           1.2
  DYNAMIC_VISCOSITY      1.8e-5
  HEAT_CAPACITY          1006.0

  TURBULENCE_MODEL       les_dynamic

  VOLUME_FLOW_RATES   13824.0  0.0   0.0

#----------------
# Porous regions
#----------------
  NUMBER_OF_POROUS_REGIONS  1
    POROUS_REGION_001
      STL_FILE    forrest.stl

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING    piso

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    1.0
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.95

  MIN_SIMPLE_ITERATIONS         1

  TIME_INTEGRATION_SCHEME  parabolic

  ADVECTION_SCHEME_FOR_MOMENTUM    superbee

  PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky

  TOLERANCE_FOR_MOMENTUM_SOLVER     1.e-4
  TOLERANCE_FOR_PRESSURE_SOLVER     1.e-4
  TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-3

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w
    VALUES              1.0   0.0   0.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    bottom
    TYPE                wall
    VARIABLES           u     v     w     z_o
    VALUES              0.0   0.0   0.0   0.02

  BOUNDARY_CONDITION    top
    TYPE                symmetry
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0
