#----------
# Prologue
#----------
  PROBLEM_NAME   parallelogram
  HEAT_TRANSFER  yes

  TIME_STEP                  0.01
  NUMBER_OF_TIME_STEPS    1200
  RESULTS_SAVE_INTERVAL     12

#-----------------
# Physical models
#-----------------
  MASS_DENSITY           1.0e+3
  DYNAMIC_VISCOSITY      1.0e-3
  THERMAL_CONDUCTIVITY   0.6
  HEAT_CAPACITY          1.0

  TURBULENCE_MODEL       none

  POINT_FOR_MONITORING_PLANES    0.0125  0.0125  0.075
  PRESSURE_DROPS                30.0    30.0     0.0
  VOLUME_FLOW_RATES              0.025   0.025   0.0

#------------------
# Numerical models
#------------------
  MAX_ITERATIONS_FOR_PRESSURE_SOLVER  120

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    bottom
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   10

  BOUNDARY_CONDITION    top
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   20

  BOUNDARY_CONDITION    spacer_walls
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0.0

