 PROBLEM_NAME    rb_conv
 PROBLEM_TYPE    rb_conv
 GRAVITATIONAL_VECTOR    0.0  0.0  -0.03215
 REFERENCE_TEMPERATURE    10.0
 NUMBER_OF_TIME_STEPS    68001
 STARTING_TIME_STEP_FOR_STATISTICS    10000
 NUMBER_OF_MONITORING_POINTS               7
 MONITORING_POINT_001  2.0  2.0  0.5
 MONITORING_POINT_002  2.0  2.0  0.2
 MONITORING_POINT_003  2.0  2.0  0.4
 MONITORING_POINT_004  2.0  2.0  0.0
 MONITORING_POINT_005  2.0  2.0  0.6
 MONITORING_POINT_006  2.0  2.0  0.8
 MONITORING_POINT_007  2.0  2.0  1.0
 POINT_FOR_MONITORING_PLANES    2.0  2.0  0.5
 TURBULENCE_MODEL    les
 TURBULENCE_MODEL_VARIANT    dynamic
 PERTURB_MOMENTUM    no
 PRESSURE_MOMENTUM_COUPLING    simple
 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.9
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.8
 TIME_INTEGRATION_FOR_DIFFUSION    fully_implicit
 TIME_INTEGRATION_FOR_CROSS_DIFFUSION    fully_implicit
 TOLERANCE_FOR_MOMENTUM_SOLVER    SMART
 TOLERANCE_FOR_PRESSURE_SOLVER    ic
 TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-7
 TIME_STEP    1.e-7
 PRESSURE_DROPS    1.e-5  1.00  0.5
 MASS_FLOW_RATES    1.e-4  1.00  0.5
