Prologue 

  PROBLEM_NAME            subflow

Time stepping 

  NUMBER_OF_TIME_STEPS    1000
  TIME_STEP               1.e-1

  RESULTS_SAVE_INTERVAL   120
  BACKUP_SAVE_INTERVAL    600

Monitoring points and plane

   NUMBER_OF_MONITORING_POINTS    1 
     MONITORING_POINT_001         0.034 0.034 0.05
   POINT_FOR_MONITORING_PLANES    0.015 0.051 0.05

Physical models

  assuming T = 26 C
  units: [kg/m^3]
  MASS_DENSITY         1.0

  units: [m^2/s]
  DYNAMIC_VISCOSITY    9e-8

  TURBULENCE_MODEL            rsm_hanjalic_jakirlic
  TURBULENCE_MODEL_VARIANT    stabilized

  units: [m^3/s]
  VOLUME_FLOW_RATES      0.0   0.0   0.0020975

Initial and boundary conditions

  INITIAL_CONDITION
    VARIABLES           x  y  u    v    w     uu      vv      ww      uv      uw      vw      eps     f22
    FILE                initial_conditions.dat 

  BOUNDARY_CONDITION    wall
    TYPE                wall
    VARIABLES           u    v    w     uu      vv      ww      uv      uw      vw      eps     f22
    VALUES              0.0  0.0  0.0   0.0     0.0     0.0     0.0     0.0     0.0     7.1e-1   0.

  BOUNDARY_CONDITION    symmetry
    TYPE                symmetry
    VARIABLES           u    v    w     uu      vv      ww      uv      uw      vw      eps     f22
    VALUES              0.0  0.0  0.75  4.0e-4  4.5e-4  7.7e-4 -7.2e-6  5.8e-5  9.0e-5  6.2e-3  1.

Linear solver settings

  PRECONDITIONER_FOR_SYSTEM_MATRIX      incomplete_cholesky

  PRESSURE_MOMENTUM_COUPLING            simple
  MAX_SIMPLE_ITERATIONS                 12
  MIN_SIMPLE_ITERATIONS                 5
  MAX_ITERATIONS_FOR_MOMENTUM_SOLVER    20
  MAX_ITERATIONS_FOR_PRESSURE_SOLVER    250
  MAX_ITERATIONS_FOR_TURBULENCE_SOLVER  10

  TOLERANCE_FOR_MOMENTUM_SOLVER         1.0e-6
  TOLERANCE_FOR_TURBULENCE_SOLVER       1.0e-6
  TOLERANCE_FOR_ENERGY_SOLVER           1.0e-6
  TOLERANCE_FOR_PRESSURE_SOLVER         1.0e-8
  TOLERANCE_FOR_SIMPLE_ALGORITHM        1.0e-8

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM   0.2
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE   0.6
  SIMPLE_UNDERRELAXATION_FOR_TURBULENCE 0.4

  TIME_INTEGRATION_SCHEME  linear

  ADVECTION_SCHEME_FOR_MOMENTUM      upwind
  ADVECTION_SCHEME_FOR_ENERGY        upwind
  ADVECTION_SCHEME_FOR_TURBULENCE    upwind 

  # after initialization from file you can use these schemes
  #ADVECTION_SCHEME_FOR_MOMENTUM      minmod
  #ADVECTION_SCHEME_FOR_ENERGY        smart
  #ADVECTION_SCHEME_FOR_TURBULENCE    smart
