#--------------
# Problem name
#--------------
  PROBLEM_NAME        matrix

#---------------
# Time stepping
#---------------
  TIME_STEP                 0.00002
  NUMBER_OF_TIME_STEPS  60000

  SAVE_RESULTS_AT_BOUNDARIES               no
  RESULTS_SAVE_INTERVAL                   200
  BACKUP_SAVE_INTERVAL                   3000

 # LOAD_BACKUP_NAME          matrix-ts060000.backup

#-------------------
# Monitoring points
#-------------------
  POINT_FOR_MONITORING_PLANES  0.005  0.005  0.005

  NUMBER_OF_MONITORING_POINTS     8
    MONITORING_POINT_001          0.0301  0.0301  0.016
    MONITORING_POINT_002          0.0301  0.0301  0.02
    MONITORING_POINT_003          0.0301  0.0301  0.025
    MONITORING_POINT_004          0.0301  0.0301  0.03
    MONITORING_POINT_005          0.0301  0.0301  0.035
    MONITORING_POINT_006          0.0301  0.0301  0.04
    MONITORING_POINT_007          0.0301  0.0301  0.045
    MONITORING_POINT_008          0.0301  0.0301  0.05

#---------------------
# Physical properties
#---------------------
  MASS_DENSITY       1.2047
  DYNAMIC_VISCOSITY  1.8205e-5

#-----------------
# Physical models
#-----------------
  TURBULENCE_MODEL   les_dynamic

#-------------------------------------------------
# Prescribed mass flow
#
# Re = 13000
# nu = 1.5112e-5
# h  = 0.051
# Re = Ub * h / nu = 13000
# Ub = Re * nu / h = 3.852  [m/s]
# m* = Ub * 1.2047 * 0.051 * 0.06 = 0.0142 [kg/s]
#-------------------------------------------------
  VOLUME_FLOW_RATES  0.0142,  0.0,  0.0

#----------------------
# Numerical parameters
#----------------------
  PRESSURE_MOMENTUM_COUPLING           piso
  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM  1.0
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE  1.0
  MIN_SIMPLE_ITERATIONS                2

  TIME_INTEGRATION_SCHEME              parabolic
  ADVECTION_SCHEME_FOR_MOMENTUM        central

  GRADIENT_METHOD_FOR_PRESSURE     gauss_theorem
  MAX_GAUSS_GRADIENTS_ITERATIONS   3

#------------------------
# Linear solver settings
#------------------------
  LINEAR_SOLVERS                     native
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-6
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

  MAX_ITERATIONS_FOR_PRESSURE_SOLVER       200
  MAX_ITERATIONS_FOR_WALL_DISTANCE_SOLVER  100

  PETSC_OPTIONS_FOR_PRESSURE
    SOLVER        cg
    PREC          hypre       # asm or hypre
    PREC_OPTS     
    TOLERANCE     1.0e-3

  PETSC_OPTIONS_FOR_WALL_DISTANCE
    SOLVER        cg
    PREC          hypre       # asm or hypre
    PREC_OPTS     
    TOLERANCE     1.0e-6

  PETSC_OPTIONS_FOR_MOMENTUM
    SOLVER        bicg
    PREC          asm
    PREC_OPTS     
    TOLERANCE     1.0e-7

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION lower_wall
    TYPE             wall
    VARIABLES        u     v     w
    VALUES           0.0   0.0   0.0

  BOUNDARY_CONDITION top_wall
    TYPE             wall
    VARIABLES        u     v     w
    VALUES           0.0   0.0   0.0

  BOUNDARY_CONDITION cube_walls
    TYPE             wall
    VARIABLES        u     v     w
    VALUES           0.0   0.0   0.0

