Prologue

 PROBLEM_NAME    chan

 HEAT_TRANSFER   no

 TIME_STEP                                           0.5
 NUMBER_OF_TIME_STEPS                           340050
 STARTING_TIME_STEP_FOR_TURB_STATISTICS           2000
 STARTING_TIME_STEP_FOR_SWARM_STATISTICS        340015

 RESULTS_SAVE_INTERVAL     100000
 SWARM_SAVE_INTERVAL       50
 BACKUP_SAVE_INTERVAL      100000

 LOAD_BACKUP_NAME          chan-ts340000.backup

#-------------------
# Monitoring points 
#-------------------

#-----------------
# Physical models
#-----------------
 MASS_DENSITY           1.0
 THERMAL_CONDUCTIVITY   4.70e-4
 DYNAMIC_VISCOSITY      3e-5
 HEAT_CAPACITY          1.0

#----------------
# Swarm related
#----------------
 SWARM_DIAMETER                     1.8E-03
 SWARM_DENSITY                      1.00e3
 NUMBER_OF_SWARM_SUB_STEPS          50
 NUMBER_OF_PARTICLES                64
 SWARM_COEFFICIENT_OF_RESTITUTION   1.0

#-------------------
# Turbulence model
#-------------------
 TURBULENCE_MODEL       HYBRID_LES_PRANDTL
 SMAGORINSKY_CONSTANT   0.17

 PRESSURE_DROPS     2.0e-5   0.0   0.0
 MASS_FLOW_RATES    0.4046   0.0   0.0

#----------------------
# Numerical parameters
#----------------------
 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.8
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.8
 SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.6

 TIME_INTEGRATION_SCHEME  parabolic

 ADVECTION_SCHEME_FOR_MOMENTUM    central
 ADVECTION_SCHEME_FOR_ENERGY      smart

 PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky

 TOLERANCE_FOR_MOMENTUM_SOLVER     1.e-4
 TOLERANCE_FOR_PRESSURE_SOLVER     1.e-4
 TOLERANCE_FOR_ENERGY_SOLVER       1.e-4
 TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-3

 MAX_ITERATIONS_FOR_PRESSURE_SOLVER   240

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     t 
    VALUES              1.0   0.0   0.0   20.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    wall

    TYPE                wall_flux
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0.1
