Prologue

 PROBLEM_NAME    chan

 HEAT_TRANSFER   no

 TIME_STEP                                        0.05
 NUMBER_OF_TIME_STEPS                        157000
 STARTING_TIME_STEP_FOR_SWARM_COMPUTATION    150025
 STARTING_TIME_STEP_FOR_TURB_STATISTICS      150010
 STARTING_TIME_STEP_FOR_SWARM_STATISTICS     152065

 RESULTS_SAVE_INTERVAL       2500
 SWARM_SAVE_INTERVAL         2500
 BACKUP_SAVE_INTERVAL      120000

 LOAD_BACKUP_NAME          chan-ts150000.backup

#-------------------
# Monitoring points
#-------------------
 POINT_FOR_MONITORING_PLANES    0.5  0.5  0.5

#-----------------
# Physical models
#-----------------
 MASS_DENSITY           1.0
 THERMAL_CONDUCTIVITY   4.70e-4
 DYNAMIC_VISCOSITY      3.0e-5
 HEAT_CAPACITY          1.0

#----------------
# Swarm related
#----------------
 MULTIPHASE_MODEL             lagrangian_particles
 SWARM_SUBGRID_SCALE_MODEL    brownian_fukagata
 SWARM_DIAMETER                                 2.3612E-4
 SWARM_DENSITY                               1000
 NUMBER_OF_SWARM_SUB_STEPS                      2
 NUMBER_OF_PARTICLES                         100000
 SWARM_COEFFICIENT_OF_RESTITUTION               1.0

#-------------------
# Turbulence model
#-------------------

 TURBULENCE_MODEL       HYBRID_LES_PRANDTL
 SMAGORINSKY_CONSTANT   0.17

 PRESSURE_DROPS     0.0003133   0.0   0.0
 MASS_FLOW_RATES    1.98        0.0   0.0

#----------------------
# Numerical parameters
#----------------------
 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.8
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.8
 SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.6

 TIME_INTEGRATION_SCHEME  parabolic

 ADVECTION_SCHEME_FOR_MOMENTUM    central
 ADVECTION_SCHEME_FOR_ENERGY      smart

 PRECONDITIONER_FOR_SYSTEM_MATRIX    incomplete_cholesky

 TOLERANCE_FOR_MOMENTUM_SOLVER     1.e-4
 TOLERANCE_FOR_PRESSURE_SOLVER     1.e-4
 TOLERANCE_FOR_ENERGY_SOLVER       1.e-4
 TOLERANCE_FOR_SIMPLE_ALGORITHM    1.e-3

 MAX_ITERATIONS_FOR_PRESSURE_SOLVER   240

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
  VARIABLES           u     v     w 
  VALUES              1.0   0.0   0.0

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    wall

    TYPE                wall
    VARIABLES           u     v     w 
    VALUES              0.0   0.0   0.0
