#=========================================================================================================
#
#  Control file for Pipe Section analysis to evaluate a developed laminar velocity profile
#
#---------------------------------------------------------------------------------------------------------

  PROBLEM_NAME            pipe_section
  
  TURBULENCE_MODEL        none

  BULK_VELOCITIES         1.96e-5  0.0  0.0
  PRESSURE_DROPS          1.10e1   0.0  0.0
  
  TIME_STEP                 0.0002
  NUMBER_OF_TIME_STEPS   7200
  MIN_SIMPLE_ITERATIONS     3
  MAX_SIMPLE_ITERATIONS     6
  RESULTS_SAVE_INTERVAL   360
  BACKUP_SAVE_INTERVAL   3600

#---------------------------------------------------------------------------------------------------------
# Physical properties 
#---------------------------------------------------------------------------------------------------------

  MASS_DENSITY              1.0     # kg/m^3
  DYNAMIC_VISCOSITY         1.0e-5  # kg/ms
  SCALARS_DIFFUSIVITY        1.0e-3

  NUMBER_OF_SCALARS         1

#---------------------------------------------------------------------------------------------------------
# Numerical parameters 
#---------------------------------------------------------------------------------------------------------

  PRESSURE_MOMENTUM_COUPLING    simple

  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.6
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.3
  
  TIME_INTEGRATION_SCHEME  linear
  
  ADVECTION_SCHEME_FOR_MOMENTUM    upwind   

  GRADIENT_METHOD_FOR_PRESSURE     gauss_theorem
  MAX_GAUSS_GRADIENTS_ITERATIONS   4              

#---------------------------------------------------------------------------------------------------------
# Linear solver settings
#---------------------------------------------------------------------------------------------------------

  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-5
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3      

  MIN_SIMPLE_ITERATIONS                   6
  MAX_ITERATIONS_FOR_PRESSURE_SOLVER    666
  
#---------------------------------------------------------------------------------------------------------
# Initial condition
#---------------------------------------------------------------------------------------------------------

  INITIAL_CONDITION
    VARIABLES   u    v    w        
    VALUES      0.   0.   0.   

#---------------------------------------------------------------------------------------------------------
# Boundary condition 
#---------------------------------------------------------------------------------------------------------

  BOUNDARY_CONDITION internal_wall
    TYPE             wall 
    VARIABLES        u     v     w    C_01
    VALUES           0.0   0.0   0.0  100.0 

#---------------------------------------------------------------------------------------------------------
