#--------------------
# Problem definition
#--------------------

 PROBLEM_NAME           buildings.city

 HEAT_TRANSFER          no 

#---------------
# Time stepping
#---------------

 TIME_STEP                0.1
 NUMBER_OF_TIME_STEPS     100
 RESULTS_SAVE_INTERVAL     50
 BACKUP_SAVE_INTERVAL     250

# LOAD_BACKUP_NAME   ahill_m-ts000625.backup

#-------------------
# Monitoring points 
#-------------------

 NUMBER_OF_MONITORING_POINTS               1
 MONITORING_POINT_001  4.5    0.5    0.1

 POINT_FOR_MONITORING_PLANES    1.5  1.5  1.0

#-----------------
# Physical models
#-----------------
 MASS_DENSITY           1.0  
 THERMAL_CONDUCTIVITY   1.9080e-4
 DYNAMIC_VISCOSITY      1.7250e-5
 HEAT_CAPACITY          1.0

 TURBULENCE_MODEL       k_eps_zeta_f
 ROUGH_WALLS            yes
 ROUGHNESS_COEFFICIENT  0.03
#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.4
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.4
 SIMPLE_UNDERRELAXATION_FOR_ENERGY      0.4
 SIMPLE_UNDERRELAXATION_FOR_TURBULENCE  0.4

 TIME_INTEGRATION_FOR_INERTIA            parabolic 
 TIME_INTEGRATION_FOR_ADVECTION          fully_implicit
 TIME_INTEGRATION_FOR_DIFFUSION          fully_implicit
 TIME_INTEGRATION_FOR_CROSS_DIFFUSION    fully_implicit

 ADVECTION_SCHEME_FOR_MOMENTUM    smart
 ADVECTION_SCHEME_FOR_ENERGY      smart 
 ADVECTION_SCHEME_FOR_TURBULENCE  smart

 MIN_SIMPLE_ITERATIONS                           3
#------------------------
# Linear solver settings
#------------------------

 PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
 TOLERANCE_FOR_PRESSURE_SOLVER      1.e-3
 TOLERANCE_FOR_TURBULENCE_SOLVER    1.e-3
 TOLERANCE_FOR_ENERGY_SOLVER        1.e-3
 TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

 MAX_ITERATIONS_FOR_PRESSURE_SOLVER   120
#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w        kin      eps      zeta     f22
    VALUES              0.01   0.0   0.0     1.0e-2   1.0e-3   1.0e-1   6.6e-3

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION    building_walls
    TYPE                wall 
    VARIABLES           u     v     w     kin      eps      zeta     f22
    VALUES              0.0   0.0   0.0   1.0E-2   1.0E-3   6.6E-2   1.0e-3

  BOUNDARY_CONDITION    ground
    TYPE                wall
    VARIABLES           u     v     w     q     kin   eps      zeta  f22
    VALUES              0.0   0.0   0.0   0.1   0.0   1.0e-3   0.0   0.0

  BOUNDARY_CONDITION    inflow
    TYPE                inflow
    VARIABLES           u     v     w     t      kin      eps      zeta     f22
    VALUES              1.0   0.0   0.0   20.0   1.0E-2   1.0E-3   6.6E-2   1.0e-3

  BOUNDARY_CONDITION    outflow
    TYPE                outflow
    VARIABLES           u     v     w     t      kin      eps      zeta     f22
    VALUES              0.0   0.0   0.0   20.0   1.0E-2   1.0E-3   6.6E-2   1.0e-3

  BOUNDARY_CONDITION    sides
    TYPE                symmetry
    VARIABLES           u     v     w     t      kin      eps      zeta     f22
    VALUES              0.0   0.0   0.0   20.0   1.0E-2   1.0E-3   6.6E-2   1.0e-3

  BOUNDARY_CONDITION    top
    TYPE                pressure
    VARIABLES           u     v     w     kin      eps      zeta     f22
    VALUES              0.0   0.0   0.0   1.0E-2   1.0E-3   6.6E-2   1.0e-3

