#-----------------------------------------------------------
# Problem name must be specified and corresponds to the
# base name (without extensions) of the grid file used.
#-----------------------------------------------------------
  PROBLEM_NAME        skewed

#---------------------
# Physical properties
#---------------------
  MASS_DENSITY           1.0
  DYNAMIC_VISCOSITY      1.0e-3

#---------------
# Time stepping
#---------------
  TIME_STEP                       0.002
  NUMBER_OF_TIME_STEPS        12000
  RESULTS_SAVE_INTERVAL        1200
  BACKUP_SAVE_INTERVAL       240000
  SAVE_RESULTS_AT_BOUNDARIES      no

  MAX_ITERATIONS_FOR_PRESSURE_SOLVER       120

#---------------------
# Boundary conditions
#---------------------
  BOUNDARY_CONDITION  top_wall
    TYPE              inflow
    VARIABLES         u     v     w
    VALUES            1.0   0.0   0.0

  BOUNDARY_CONDITION  bottom_wall
    TYPE              wall
    VARIABLES         u     v     w
    VALUES            0.0   0.0   0.0

  BOUNDARY_CONDITION  west_wall
    TYPE              wall
    VARIABLES         u     v     w
    VALUES            0.0   0.0   0.0

  BOUNDARY_CONDITION  east_wall
    TYPE              wall
    VARIABLES         u     v     w
    VALUES            0.0   0.0   0.0

