#----------
# Prologue
#----------
 PROBLEM_NAME     bend_full
 HEAT_TRANSFER    no

 NUMBER_OF_TIME_STEPS     6000

 RESULTS_SAVE_INTERVAL       8
 BACKUP_SAVE_INTERVAL     2000

 TIME_STEP                  0.00005
# LOAD_BACKUP_NAME           bend-ts004000.backup 

 SWARM_SAVE_INTERVAL                         200
 STARTING_TIME_STEP_FOR_SWARM_COMPUTATION    4005
 STARTING_TIME_STEP_FOR_TURB_STATISTICS      7000
 STARTING_TIME_STEP_FOR_SWARM_STATISTICS     1000000

#-------------------
# Monitoring points 
#-------------------
 NUMBER_OF_MONITORING_POINTS    1
   MONITORING_POINT_001         0.0  0.0  0.0

 POINT_FOR_MONITORING_PLANES    0.0  0.0  0.0

#-----------------
# Physical models
#-----------------

 MASS_DENSITY              1.0
 DYNAMIC_VISCOSITY         1.4706e-5

 TURBULENCE_MODEL          K_EPS_ZETA_F
# TURBULENCE_MODEL          HYBRID_LES_RANS
 PRESSURE_DROPS            0.0     0.0      0.0
# GRAVITATIONAL_VECTOR      0.0   -9.81  0.0
 POTENTIAL_INITIALIZATION  yes

#----------------
# Swarm related
#----------------
 MULTIPHASE_MODEL                    lagrangian_particles
# SWARM_SUBGRID_SCALE_MODEL           brownian_fukagata
 SWARM_DIAMETER                                 2.5e-5
 SWARM_DENSITY                                  1000.0
 NUMBER_OF_SWARM_SUB_STEPS                      8
 NUMBER_OF_PARTICLES                            10000
 SWARM_COEFFICIENT_OF_RESTITUTION               1.0

#----------------------
# Numerical parameters
#----------------------

 PRESSURE_MOMENTUM_COUPLING    simple

 SIMPLE_UNDERRELAXATION_FOR_MOMENTUM    0.6
 SIMPLE_UNDERRELAXATION_FOR_PRESSURE    0.3

 TIME_INTEGRATION_SCHEME  linear

# ADVECTION_SCHEME_FOR_MOMENTUM    upwind
 ADVECTION_SCHEME_FOR_MOMENTUM    central

#------------------------
# Linear solver settings
#------------------------
 PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
 TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-3
 TOLERANCE_FOR_PRESSURE_SOLVER      1.e-5
 TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

 MIN_SIMPLE_ITERATIONS                   3
 MAX_ITERATIONS_FOR_PRESSURE_SOLVER    500

#--------------------
# Initial conditions
#--------------------
  INITIAL_CONDITION
    VARIABLES           u     v     w     kin    eps    zeta   f22
    VALUES              0.0   0.0   0.0   0.01   0.001  0.1    0.1
#    VARIABLES           u     v     w     kin    eps    zeta   f22
#    VALUES              0.0   0.0   0.0   0.01   0.001  0.1    0.1

#---------------------
# Boundary conditions
#---------------------

  BOUNDARY_CONDITION    WALLS
    TYPE                wall
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

  BOUNDARY_CONDITION    INLET
    TYPE                inflow
    VARIABLES           u     v     w
    VALUES              0.0   -3.0  0.0

  BOUNDARY_CONDITION    OUTLET
    TYPE                outflow
    VARIABLES           u     v     w
    VALUES              0.0   0.0   0.0

#  SYNTHETIC_EDDIES      INLET  
#    NUMBER_OF_EDDIES    80  
#    MAX_EDDY_RADIUS     0.001
#    EDDY_INTENSITY      0.1


#  SYNTHETIC_EDDIES      in
#    NUMBER_OF_EDDIES    40
#    MAX_EDDY_RADIUS     0.33
#    EDDY_INTENSITY      0.1
