#-------
# Intro
#-------
  PROBLEM_NAME   air

  HEAT_TRANSFER  yes

  TIME_STEP                1.0e-2
  NUMBER_OF_TIME_STEPS  6000
  RESULTS_SAVE_INTERVAL  120

#-----------------------------------------------
# Physical models
# (Properties are read from file for this case)
#-----------------------------------------------
  GRAVITATIONAL_VECTOR      0.0,  0.0,  -9.81

  TURBULENCE_MODEL        none

#--------------------
# Initial conditions
#--------------------
   INITIAL_CONDITION
     VARIABLES    u     v      w       t
     VALUES      0.0   0.0   0.0      20

#----------------------
# Numerical parameters
#----------------------
  SIMPLE_UNDERRELAXATION_FOR_MOMENTUM      0.6
  SIMPLE_UNDERRELAXATION_FOR_PRESSURE      0.4
  SIMPLE_UNDERRELAXATION_FOR_ENERGY        0.9

  TIME_INTEGRATION_SCHEME  linear

#------------------------
# Linear solver settings
#------------------------
  PRECONDITIONER_FOR_SYSTEM_MATRIX   incomplete_cholesky
  TOLERANCE_FOR_MOMENTUM_SOLVER      1.e-5
  TOLERANCE_FOR_PRESSURE_SOLVER      1.e-6
  TOLERANCE_FOR_ENERGY_SOLVER        1.e-5
  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-4

#--------------------------
# Boundary conditions
#--------------------------
  BOUNDARY_CONDITION    TOP
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0

  BOUNDARY_CONDITION    BOTTOM
    TYPE                wall
    VARIABLES           u     v     w     q
    VALUES              0.0   0.0   0.0   0

  BOUNDARY_CONDITION    SIDE
    TYPE                symmetry
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   10

  BOUNDARY_CONDITION    LEFT
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   10

  BOUNDARY_CONDITION    RIGHT
    TYPE                wall
    VARIABLES           u     v     w     t
    VALUES              0.0   0.0   0.0   30

