  NUMBER_OF_DOMAINS         2

# Integrate in time for two seconds
  TIME_STEP                          0.0001
  NUMBER_OF_TIME_STEPS           20000

  RESULTS_SAVE_INTERVAL                          5000
  SWARM_SAVE_INTERVAL                              10
  BACKUP_SAVE_INTERVAL                           5000
  STARTING_TIME_STEP_FOR_SWARM_COMPUTATION       1001

  SAVE_RESULTS_AT_BOUNDARIES       yes

  TOLERANCE_FOR_SIMPLE_ALGORITHM     1.e-3

  INTERFACE_CONDITION      pipe         bend
    BOUNDARY_CONDITIONS    periodic_y   bend_inlet

